@import 'tailwindcss';
@import 'tw-animate-css';
@import '@fontsource/anton';

@font-face {
  font-family: 'Supply';
  src: url('/fonts/Supply-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@theme {
  /* Brand */
  --color-*: initial;
  --color-brand-400: #cc4323;
  --color-brand-300: #e6521f;
  --color-brand-200: #f7ceb5;
  --color-brand-100: #fdf5ef;

  /* Neutral */
  --color-neutral-800: #1a1a1a;
  --color-neutral-700: #3d3d3d;
  --color-neutral-600: #8a8a8a;
  --color-neutral-500: #aaaaaa;
  --color-neutral-400: #d8d8d8;
  --color-neutral-300: #ebebeb;
  --color-neutral-200: #fafafa;
  --color-neutral-100: #ffffff;

  /* Typefaces */
  --font-*: initial;
  --font-display: 'Anton', sans-serif;
  --font-mono: 'Supply';
}

body {
  @apply m-0 font-mono text-base leading-none tracking-normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
